
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-edit-1:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */